body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
}
html {
	background-color: #0a1e26f1;
}

nav {
	width: 100%;
	min-height: 4em;
	text-decoration-style: none;
}
.headerList,
.headerItem {
	margin: 0;
	text-decoration-style: none;
}

.headerList {
	list-style: none;
	text-decoration-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	background-color: #0a1e26;
	min-height: 4em;
}

.headerItem {
	margin: 2em 10em;
	text-decoration-style: none;
}

.navLink {
	width: 100%;
	min-height: 200px;
	background-color: #73161e;
	padding: 1em 8em;
	font-size: 1.5em;
	color: #d7d9d9;
	border-radius: 0.5em;
	text-decoration-style: none;
}
.navLink:hover {
	background-color: #881620;
	font-weight: 700;
}
